/blib/
/.build/
_build/
cover_db/
inc/
Build
!Build/
Build.bat
.last_cover_stats
/Makefile
/Makefile.old
/MANIFEST.bak
/META.yml
/META.json
/MYMETA.*
nytprof.out
/pm_to_blib
*.o
*.bs
/_eumm/
*.pyc
.vscode/
*.log
.scannerwork/
test/
build/
.idea/
dist/
*.code-workspace
it/*.scale-*.mp4
it/*.scale-*.jpg
it/*.crop_*.mp4
it/*.zoom*.mp4
it/*.pan*.mp4
it/*.stacked.jpg
.coverage
test-reports/
audio_video_tools.egg-info/
it/video*.*.mp4
it/img*.*.mp4
it/img*.*.jpg
it/*.*.json
it/*.*.mp3
.sonar/
