flake8
pylint
bandit
pytest
coverage
jprops
argparse
datetime
mp3_tagger
ffmpeg-python
ExifRead
music_tag
PyExifTool
setuptools>=78.1.1 # not directly required, pinned by Snyk to avoid a vulnerability
